html{
    
    padding: 0px;
}

#page-title-div{
    display: grid;
    width: 300px;
    height: 100px;
    color: white;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    z-index: 10000;
   
}

#page-info-div{
    display: grid;
    width: 120px;
    height: 120px;
    color: white;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    position: fixed;
    top: 0px;
    right: 0px;
    
   
}

#info-btn-img{
    z-index: 1000000;
}

#title{
    margin: 0px;
    padding: 0px;
    z-index: 10000;
}

#fullscreencontainer{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    background-color: #5ED8F2;
    z-index: -100000;
    
    
}

#startposturecheckbtn{
    border: none;
    border-radius: 0px;
    background-color: rgba(0,0,0,0);
    
}

#stopbtn{
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
    border: none;
    
}

#stop-btn-img{
    width: 3vw;
    height: auto;
}


#info-btn{
    border: none;
    border-radius: 0px;
    background-color: rgba(0,0,0,0)
}

#start-btn-img{
    width: 5vw;
    height: auto;
}

.modal-body{
    font-size: 1.25em;
}

.modal-title{
    font-size: 2em;
    font-weight: bold;
}

.modal-header{
    background-color: #5ED8F2;
    color: white;
}

#close-mod{
    color: red;
}


#posture-display{
    display: grid;
    text-align: center;
    justify-content: center;
    color: white;
}

#postureStatus{
    display: none;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    display: none;
  }

  #displayAnim{
      display: none;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }